{
    "jsc": {
      "target": "ES2020",
      "parser": {
        "syntax": "typescript",
        "decorators": true,
        "dynamicImport": false,
        "privateMethod": false,
        "functionBind": false,
        "exportDefaultFrom": false,
        "exportNamespaceFrom": false,
        "decoratorsBeforeExport": false,
        "topLevelAwait": false,
        "importMeta": false
      },
      "transform": {
        "decoratorMetadata": true,
        "legacyDecorator": true
      },
      "keepClassNames": true,
      "externalHelpers": true,
      "loose": false
    },
    "module": {
      "type": "commonjs",
      "strict": false,
      "strictMode": true,
      "lazy": false,
      "noInterop": false
    },
    "exclude": ["./src/**/.*.spec.ts$", "./**/.*.js$"],
    "sourceMaps": true
   }
   